<meta HTTP-EQUIV="REFRESH" content="5; url=http://localhost:3000">
<div class="card">
  <div class="card-body">
    <h2>Thanks, you paid
      <strong>$<%= "#{@amount/100}" %>.00</strong>!
      <br><br>
    </h2>
    <h3>Redirecting to Home.....</h3>
  </div>
</div>
